<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
    <div class="container-fluid"> <!--jusqu'au la des styles bootstrap-->
        <ul *ngIf="!(user|async)" class="navbar-nav"> <!--pour que le user va se mettre a jour auto-->
            <li class="nav-item">
                <a class="nav-link active" routerLink="/membres/connexion"> Se connecter</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="/produits"> Liste des produits </a>
            </li> 
        </ul>
        <ul *ngIf="user|async" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/produits"> Liste des produits</a>
            </li>
            <!--ici pour la recherche par marque -->
            <!--<li class="nav-item">
                <span> {{ titre }} </span> </br>
                <a [routerLink]="['/rechercheParMarque', marque]"> recherche Par Marque:</a> -->
                <!--routerLink c'est a la place de href, afin d'éviter le chargement de la page 
                pour respecter le principe d'angular appli en une seule page
                donc on change just la route
            </li> -->
            <li class="nav-item">
                <a class="nav-link active" (click)="deconnexion()"> Deconnection de {{ user|async }}</a>  
            </li> 

        </ul> 
    </div>
</nav>